*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar
{
    background: #22242A;
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 140px;
    margin: 5px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #1DC4E7;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right:8px ;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #22242A ;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background:transparent ;
    border-radius: 0;
    text-align: left;
}
h1
{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 65px;
    background-color: lightblue;
    padding: 10px;
}
h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding-top: 10px;

}
p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;

}
#more {display: none;}
