*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image:url(080.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: white !important;
    font-size: 100%;
    
}
.menu-bar
{
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 150px;
    margin: 5px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #1DC4E7;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right:8px ;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #22242A ;
    margin-top: -15px;
    margin-left: -5px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background:transparent ;
    border-radius: 0;
    text-align: left;
}
.services
{
    margin: 90px auto;
    text-align: center;
}
h1{
    font-family: sans-serif;
    letter-spacing: 1px;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1:after
{
    content: "";
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin:10px auto;
}
.icon
{
    font-size: 50px;
    margin: 20px auto;
    padding: 20px;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;

}


   